

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-family: "Inter", sans-serif;
}
.raleway1{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

header{
  width: 1170px;
  margin: auto;
  text-align: center;
}

.best-offer2{
  width: 1170px;
  margin: auto;
  text-align: center;
}










.best-offer{
    width: 1170px;
    margin: auto;
    text-align: center;
    font-family: "Inter", sans-serif;
}
.best2{
  font-family: "Raleway", sans-serif;
}
.best3{
  font-family: "Inter", sans-serif;
}
.paribahan{
  width: 1170px;
    margin: auto;
    text-align: center;
}
footer2{
  width: 1170px;
  margin: auto;
  text-align: center;
  font-family: "Inter", sans-serif;
}
.wow{
  width: 1170px;
  height: 2px;
  margin: auto;
color: #4F525A;
top: 3640.75px;
transform: rotate(180.00deg);
border: 1.5px	Middle
rgba(255, 255, 255, 0.3);
 
}
h1{
  display: flex;
  gap: 275px;
}